.container{
    width: 300px;
    padding: 0 15px;
    margin: 0 auto;
    outline: solid black;


    @media (min-width:768px){
        width: 768px;
    }
      @media (min-width:1200px){
        width: 1200px;
        padding: 0 20px;
    }
}
.is-hidden{
    display: none;
}